playwright~=1.52.0
allure-python-commons~=2.14.3
pytest~=8.3.5
pydantic-settings~=2.9.1
pydantic~=2.11.7
allure-pytest==2.14.3
email_validator==2.2.0
pytest-playwright==0.7.0
pytest-rerunfailures==15.1
pytest-xdist==3.7.0