<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>python</li>
    <li>playwright</li>
    <li>pytest</li>
</ul>

<a  href="#/auth/login">login 1</a>
<a  href="#/auth/login_23">login 23</a>
<a  href="#/auth/sdfsdf">login 1</a>


<div>
  <div data-active="true">
    active
  </div>
  <div data-active="true">
    unknown
  </div>
  <div data-active="true">
    active
  </div>
  <div data-active="false">
    active
  </div>
  <div data-active="false">
    other
  </div>
</div>

<div>
  <p>Python</p>
  <p>Playwright</p>
  <p>Pytest</p>
</div>

<div>
  <form>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </form>
  <div>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </div>
</div>


<div>
  <div id="footer">
    <span>Python</span>
    <span>Pytest</span>
    <span>Playwright</span>
  </div>
</div>

</body>
</html>